[submodule "KlingonAssistant/data"]
	path = KlingonAssistant/data
	url = https://github.com/De7vID/klingon-assistant-data
[submodule "KlingonTtsEngine"]
	path = KlingonTtsEngine
	url = https://github.com/De7vID/klingon-assistant-tts-android
[submodule "KlingonAssistant"]
	path = KlingonAssistant
	url = https://github.com/De7vID/klingon-assistant-android
